<div class="hero-banner-contact">
  <h1>Contact us</h1>
</div>
<div class="contact-main container">
  <div class="left">
    <div>
      <h2>Get in touch</h2>
      <p>Whether you have a question about our items for sale, or you are looking for something specific, we invite you to get in touch. You can fill in the form or give us a call directly.</p>
    </div>
    <div class="contact-info">
      <div class="contact-icon">
        <i class="fa fa-map-marker-alt"></i>
        <p>Quesnel, BC</p>
      </div>
      <div class="contact-icon">
        <i class="fas fa-envelope"></i>
        <p><a href="mailto:johnston8474@gmail.com">johnston8474@gmail.com</a></p>
      </div>
      <div class="contact-icon">
        <i class="fa fa-phone"></i>
        <p><a href="tel:250-991-2830">(250) 991-2830</a></p>
      </div>
    </div>
  </div>
  <div class="right">
    <form class="contact-form" action="https://formspree.io/f/moqpopkn" method="POST">
      <h2>Leave us a note</h2>
      <div class="form-group">
        <label for="exampleFormControlInput1">Full Name</label>
        <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="John Smith">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput2">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput3">Phone Number</label>
        <input type="tel" name="phone" class="form-control" id="exampleFormControlInput1" placeholder="(250) 555 5555">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Your Message</label>
        <textarea type="text-area" name="message" class="form-control"rows="3"></textarea>
      </div>
      <input type="submit" value="Send" class="btn btn-dark btn-block">
    </form>
  </div>
</div>
