<div class="hero-banner-contact">
  <h1>Contact us</h1>
</div>
<div class="contact-main container">
  <div class="left">
    <div>
      <h2>Get in touch</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Ratione accusantium, omnis quas quis repellendus, libero rerum voluptatum at qui nostrum ipsum! Tempore ut ex suscipit doloremque adipisci eligendi, tenetur culpa.</p>
    </div>
    <div class="contact-info">
    </div>
  </div>
  <div class="right">
    <form>
      <h2>Tell us what you want?</h2>
      <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </form>
  </div>
</div>
