.footer {
  border-top: 2px solid rgba(135, 146, 161, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
  height: 150px;
  @media (min-width:0px) and (max-width:750px) {
  height: 250px;
  margin-top: 50px;
  }
}

.footer-top {
  width: 100%;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  color: rgba(0,0,0,0.3);
  background-color: white;
  @media (min-width:0px) and (max-width:750px) {
    flex-direction: column;
    height: 200px;
  }
}

.footer-copyright {
  font-family: 'Montserrat';
  font-size: 14px;
  color: rgba(69, 88, 128, 0.5);
  @media (min-width:0px) and (max-width:750px) {
    order: 3;
  }
}

.logo {
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Montserrat';
  font-size: 22px;
  @media (min-width:0px) and (max-width:750px) {
  order: 1;
  }
}

.footer-links {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
  font-family: 'Montserrat';
  font-size: 14px;
  @media (min-width:0px) and (max-width:750px) {
    order: 2;
  }
}

.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
  font-family: 'Montserrat';
  font-size: 14px;
}

.footer-bottom {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat';
  font-size: 14px;
}
