.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 300px;
  @media (min-width:0px) and (max-width:750px) {
    width: 250px;
  }
}

a.navbar-brand {
  margin: 0px;
}
