<h2 class="mt-5 mb-5 text-center">Select a category</h2>
<div class="categories-row m-4">
  <% @categories.each do |category| %>
      <div class="inventory-square" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path category.photo.key %>')">
        <%= link_to category_path(category) do %>
          <%= category.name %>
        <% end %>
      </div>
  <% end %>
</div>
